*{
    box-sizing: border-box;
}
.scroll-block {overflow-y: auto;}

.scroll-block::-webkit-scrollbar {width: 8px;}
.scroll-block::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
.scroll-block::-webkit-scrollbar-thumb:hover {background: #898989;}

body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}
.header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}
.menu-button{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line{
    display: block;
    background: #1f2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.logo{
    margin-right: 59px;
}
.input-group{
    background: #ebebeb;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    padding-right: 17px;
    align-items: center;
    max-width: 830px;
    width: 50%;
    margin-right: 40px;
}
.input-search{
    background: transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
}
.button-search{
    width: 19px;
    height: 19px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
.icon-search{
    fill: transparent;
}
.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icon-video{
    opacity: 0.24;
    cursor: pointer;
}
.icons-link{
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover{
opacity: 0.7;
}
.icons-link:not(:last-child){
    margin-right: 50px;
}
.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 200px;
    top: 114px;
    height: calc(100% - 114px);
    background-color: #fff;
    padding-left: 32px;
}

.content{
    width: 100%;
    height: 100%;
    margin-top: 85px;
    padding-left: 250px;
    padding-top: 30px;
    padding-right: 70px;
}

.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}

.nav-item{
    margin-bottom: 28px;

    color: #898989;

}
.nav-item .icon{
    fill: #898989;
}
.nav-text{
    margin-left: 13px;
}
.nav-link{
    color: #898989;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav-link:hover{
    color: red;
}
.nav-link:hover .icon{
    fill: red;
} 
.nav-image{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title{
    padding-left: 32px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.channel{
    position: relative;
    margin-bottom: 50px;
}
.channel-title{
    display: flex;
    align-items: center;
    text-decoration:none ;
    color: #19202c;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}
.channel-text{
margin-left: 20px;
}
.channel-text1{
margin-left: 0px;
}
.channel-recommendedtext{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

margin-top: 5px;
margin-left: 20px;

color: #C2C2C2;
}

.video-thumb{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.video-thumb1{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.thumbnail1{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.video-duration{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    mix-blend-mode: normal;
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}

.video-title{
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #19202C;
margin-top: 10px;
margin-bottom: 4px;
}
.video-title1{
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #19202C;
margin-top: 10px;
margin-bottom: 4px;
}
.video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-counter{
    display: flex;
}
.video-view{
margin-right: 5px;
}
.video-view:after{
content:'';
width: 2px;
height: 2px;
background-color: #c2c2c2;
display: inline-block;
vertical-align: middle;
margin-left: 5px;
}

.channel-button{
    cursor: pointer;
    border: none;
}

.slider-buttons{
    position: absolute;
    right: 8%;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}
.buttonSubs{
    width: 154px;
    height: 40px;
    border: none;
    background: #FF0000;
    border-radius: 20px;

    position: absolute;
    right: 18%;
    top: 7px;
}
.channelSubs{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.mobile-sidebar{
display: none;
}
.mobile-search{
    display: none;
}
@media(max-width:860px){
    .icons{
        display: none;
    }
    .user{
        margin-left: auto;
    }
    .buttonSubs{
    display: none;
    }
}

@media(max-width:640px){
    .swiper-wrapper{
        display: flex;
        flex-direction: column;
    }
    .swiper-slide{
        margin-bottom: 40px;
    }

    .slider-buttons{
        display: none;
    }

    .mobile-search{
        display: block;
        margin-left: auto;
    }
    .user{
        margin-left: 20px;
    }
    .input-group{
        position: fixed;
        top: -100px;
        left: 0;
        opacity: 0;
        width: 58%;
        margin-left: 25px;
        transition: top;
        
    }
    .input-group.is-open{
        opacity: 1;
        top: 20px;
    }
    .menu-button{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .content{
        padding-left: 32px;
    }
    .mobile-sidebar{
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    .mobile-sidebar .nav-link{
        display: flex;
        flex-direction: column;
    }
    .mobile-sidebar .nav-menu{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 13px;
        padding-bottom: 1px;
        border-top: 1px solid #f1f1f1;
    }
    .nav-text{
        margin-left: 0;
        font-size: 10px;
        line-height: 13px;
    }
    .nav-item{
        margin-bottom: 0;
    }
}



.form-1 {
    /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */
 
    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}
 
.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;
 
    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
 
    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=email],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
 
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;
 
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
}
 
.form-1 input[type=email] {
    margin-bottom: 10px;
}

.form-1 input[type=email]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}
 

 
.form-1 input[type=email]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;
 
    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;
 
    /* Styles */
    background: #ffffff;
     
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.form-1 button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;
 
    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: rgb(3, 0, 0);
 
    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
 
    cursor: pointer;
}

.icon-user-autorization2{
    padding-top: 10px;
}
.icon-user-autorization1{
    padding-top: 5px;
}
.icon-user-autorization0{
    padding-top: 5px;
}

#g-recaptcha-response {
display: block !important;
position: absolute;
margin: -50px 0 0 0 !important;
z-index: -999999;
opacity: 0;
}
.signin {
    background-color: #f1f1f1;
    text-align: center;
}